a {
  text-decoration: none;
}

.carousel-btn {
  border-radius: 50%;
  background-color: var(--color-border);
  width: 20px;
  padding-top: 20px;
  display: inline-block;
}

.carousel-btn:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.image {
  opacity: 0;
  transition: opacity .2s ease-in-out;
}

.image-active {
  display: block;
  opacity: 1;
}

.btn-active .carousel-btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
