input,
textarea,
select {
  border: 1px solid var(--color-secondary);
}

label {
  font-family: var(--font-secondary);
  font-weight: lighter;
  text-transform: uppercase;
}

fieldset {
  border: none;
  border-bottom: 1px solid var(--color-border);
  font-family: var(--font-secondary);
  font-weight: 300;
  text-transform: uppercase;
}

.flag-optional {
  color: #999;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-secondary);
  border-width: 2px;
}

.error-message {
  display: none;
  background-color: var(--color-primary);
  color: #000;
}

.error-message-highlighted {
  background-color: var(--color-primary);
  color: #fff;
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
  background-color: #fff3cb;
}

[type="radio"] + label::before {
  border: 2px solid var(--color-primary);
}

[type="radio"]:checked + label::before {
  background-color: var(--color-primary);
  border-color: var(--color-primary-light);
}

[type="checkbox"] + label::before {
  border: 2px solid var(--color-primary);
}

[type="checkbox"]:checked + label::before {
  background-color: var(--color-primary);
  border-color: var(--color-primary-light);
}
