.table-mobile {
  border: 1px solid var(--color-border);
  max-width: 400px;
}

.table-desktop {
  display: none;
}

table,
.table-mobile-group {
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.vertical-align {
  vertical-align: middle;
}

th {
  font-weight: 300;
}

td {
  padding: 1.5em 0;
  vertical-align: middle;
}

.big-cell {
  width: 45%;
}

.line-height-8 {
  line-height: .8;
}

.remove:hover {
  color: var(--color-primary);
  cursor: pointer;
}

@media only screen and (min-width: 38em) {

  .table-mobile {
    display: none;
  }

  .table-desktop {
    display: block;
  }

}
