:root {
  --color-primary: #ffc400;
  --color-primary-light: #ffe4a6;
  --color-secondary: #383838;
  --color-secondary-light: #626262;
  --color-light-background: #f7f7f7;
  --color-border: #95989a;
  --font-primary: "Open Sans", arial, sans-serif;
  --font-secondary: "Oswald", sans-serif;
}

html {
  font-family: var(--font-primary);
}

::selection {
  background-color: var(--color-primary);
  color: #000;
}

h1 {
  font-family: var(--font-secondary);
  font-weight: 300;
}

h2 {
  font-family: var(--font-secondary);
  font-weight: normal;
}

h3 {
  font-family: var(--font-secondary);
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h6 {
  font-weight: bold;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;

  border-bottom: .1em solid var(--color-primary);
}

a:hover {
  color: var(--color-primary);
  border-color: var(--color-secondary);
}

blockquote {
  font-weight: bold;
  color: var(--color-primary);
}

cite {
  font-weight: normal;
  color: var(--color-secondary);
}

q {
  font-style: italic;
}

mark {
  background-color: var(--color-primary);
}
