.breadcrumb {
  border-top: 1px solid var(--color-border);
}

.breadcrumb li {
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 300;
  background: url("../../images/slash.svg") center right / 1rem auto no-repeat;
  padding-right: 1.2rem;
}

.breadcrumb li:last-child {
  padding-right: 0;
  background: none;
}

.filter li a{
  font-weight: 500;
}

#current {
  color: var(--color-primary);
}
